
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Monsieur+La+Doulaise&family=Tangerine:wght@400;700&display=swap');



.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100 to 900;
    font-style: normal;
  }
  
  .italianno-regular-font {
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 150%;
  }
  
  
  
.header-bg{
    max-width: 100%;
    /* width: 1440px;  */
 
    /* border: 2px solid red; */
    background-image:  linear-gradient(rgba(0, 0, 0, 0.949), rgba(0, 0, 0, 0.823), black);
}

.header-nav{
    margin-top: 57px;
    width: 80%;
    /* width: 1060px; */
    height: 46px;
    /* border: 2px solid red; */
    align-content: center;
    display: flex;
   
    justify-content: space-between;
    /* background-color: black; */
    /* margin: 0, auto;
    max-width: 70%; */
    /* flex-direction: ;
    justify-content: center;
    align-items: center; */
    
}
.nav-menu{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    gap: 30px;
    border: 2px solid rgba(229, 221, 221, 0.215);
    border-radius: 38px;
   
   

}
.nav-menu-btn{
    background-color: rgba(0, 0, 0, 0.018);
    color: white;
    border: none;
}

.navbar{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}
.home1{
    background-color: rgb(230, 83, 60);
    border-radius: 46px;
    border: none;
    color: white;
    width: 92px;
height: 38px;
      
}

.fitness{color: rgb(230, 83, 60);
font-family:inter;
font-size: 36px;
font-weight: 800;
line-height: 120%;
letter-spacing: 0%;
text-align: left;}

.header-main{
    /* border: 2px solid red; */
    width: 80%;
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    margin: 0% auto;
}
.header-text{

    /* border: 2px solid red; */
   
max-width:599.05px;
/* height: 440px; */

}

   
.header-text > h1 {
    margin-top: 0%;
 font-size: 78px;
font-weight: 900;
color: white;
}
.header-text > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);


}
.club{
    border-radius: 42px;

background: rgb(230, 83, 60);
color: white;
border: none;
width: 224px;
height: 54px;
}
.app{
    border-radius: 42px;

    background: black;
    color: white;
width: 224px;
height: 54px;
border-color: white;

    

}

.pachso{
    background-color: rgba(56, 54, 54, 0.534);
    color: white;
   
    /* width: max-content; */
    text-align: center;
   
    font-size: 10px;
    position: absolute;
width: 193px;
height: 92px;
left: 1200px;
top: 260px;
border-radius: 15px;


}

 .h3{
    
    font-size: 48px;
    font-weight: 900;
    margin-top: 0%;
   

}

.free{
    font-size: 13px;
font-weight: 400;
}

.tinsho{
    background-color: rgba(56, 54, 54, 0.534);
    color: white;
    text-align: center;
    font-size: 10px;
    width: 193px;
    height: 92px;
    left: 1130px;
    border-radius: 15px;
    position: absolute;
    left: 900px;
    top: 550px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    
   

    
   
 


}
.dot{
   
    height: 40px;
  width: 40px;
  background-color:orangered;
  border-radius: 50%;

  /* display: inline-block; */
}
   
.hambergur-menu{
    display:none ;
    color: white;
}

.main-part{
    background-color: black;
    /* max-width: 100%; */
}



/* mainpart start */


.main-part{
    /* border: 2px solid red; */
    max-width: 100%;
    height: 3300px;
}

.main-container{
/*     
    border: 2px solid red; */
    width: 80%;
    height: 452px;
    margin: 0 auto;
    
    
    

}
.wani{
    color: white;
    font-size: 48px;
font-weight: 900;
}
.jahin{
    color: rgba(255, 255, 255, 0.5);
}
.img-1{
    border-radius: 50%;

   
}
.main-img{
   display: flex; 
    padding: 0% 2%;
    gap: 100px;
    margin-top: 100px;


}

.card-1 .card-2 .card-3 .card-4 {
   
    width: 231px;
    height: 274px;
    text-align: center;
}


.main-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 10%; */
}

.card-text{
    text-align: center;
}

.wan{
    font-size: 18px;
font-weight: 600;
color: rgb(255, 255, 255);
margin-top: 10%;
}

.jahi{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 18px;
}


/* ....run start here... */

.Run{
    /* border: 2px solid red; */
    width: 80%;
   
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 18px;
background: rgb(34, 34, 34);
margin-top: 20%;
}

.run-text{
    /* border: 2px solid yellow; */
    width: 45%;
    /* height: 371px; */


}
.run-img{
    /* border: 2px solid blue; */
    width: 45%;
    /* height: 371px; */
    
}
.riti{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 120%;

}

.moon{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
}

.run-pic{
    width: 366px;
   
/* height: 312px; */
border-radius: 18px;

margin-left: 30%;
margin-top: 5%;


}

.join-btn{
    border-radius: 42px;
background: rgb(230, 83, 60);
width: 224px;
height: 54px;
color: white;
border: none;


}


.Bmi{
width: 100%;
/* margin: 0 auto; */
height: 11%;
background: rgb(34, 34, 34);
margin-top: 40px;
/* border: 2px solid red; */
display: flex;
flex-direction:row ;
align-items: center;
justify-content: center;

}
.bm{
    margin-top: 100px;
}
.bmi-text{
   
    max-width: 671px;
    margin: 0 auto;
    /* margin-right:2%; */
}

.bmi-table{
    /* border: 2px solid red; */
    width: 40%;
    height: 386px;
    

}
.bmi-calculator{
    /* border: 2px solid red; */
    width: 40%;
    height: 386px;
}

table{
   border-collapse: collapse;
   
}
td{
    border: 2px solid rgba(245, 245, 245, 0.574);
    padding: 10px 30px;
    color: rgba(255, 255, 255, 0.5);
}
tbody{
    /* text-align: center; */
}




.calculator-chart{
   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
   

}

/* .calcu{
 background-color: rgba(255, 255, 255, 0.1);

border-radius: 8px;

padding: 12px 20px 12px 20px;
color: rgba(255, 255, 255, 0.5);;
}

#box5{
    grid-column: span 2;
}

.btn2{
    margin-top: 3%;
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    color: white;
} */

.bmi-form {
    /* flex: 1;
    padding: 20px;
    background-color: #2c2c2c;
    border-radius: 8px;
    margin-left: 20px; */

    
   
}

.calculator-chart{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.bmi-form input {

    background-color: rgba(255, 255, 255, 0.1);

border-radius: 8px;

padding: 12px 50px 12px 200px;
color: rgba(255, 255, 255, 0.5);
border: none;
    
    /* padding: 12px;
    margin-bottom: 10px;
    background-color: #383838;
    color: #fff;
    border: none;
    border-radius: 4px; */
}

.selector1{
    padding: 12px 50px 12px 300px; 
    background-color: rgba(255, 255, 255, 0.1);

    border-radius: 8px;
     color: rgba(255, 255, 255, 0.5);
    border: none;
   
        
}

.ww{
    padding: 12px 50px 12px 630px; 
    background-color: rgba(255, 255, 255, 0.1);

    border-radius: 8px;
     color: rgba(255, 255, 255, 0.5);
    border: none;
    margin-top: 1%;
}

.bmi-form button {
    margin-top: 3%;
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    color: white;
}

.bmi-form button:hover {
    background-color: #c0392b;
}













h1{
    color: white;

}
p{
color: rgba(255, 255, 255, 0.5);
}

/* ***Team section start here** */


.team{


    max-width: 1060px;
    margin: 0 auto;
    /* height: 782px; */
    /* border: 2px solid red; */
    margin-top: 10%;

}

.team1{
    max-width: 1060px;
    margin: 0 auto;
    height: 782px;
    /* border: 2px solid red; */
    margin-top: 10%;
}
.team-text{
text-align: center;
max-width: 671px;
height: 120px;
/* border: 2px solid red; */
margin: 0 auto;
}
.bottom-left{
    color: white;
    position: absolute;
    bottom: 20px;
    left: 16px;
    
}

.bottom-left1{
    color: black;
    position: absolute;
    width: 224px;
    height: 20px;
    bottom: 3px;
    left: 58px;
    background-color: rgba(176, 184, 192, 0.181);
    text-align: center;

}
.gallari1{
    position: relative;
    padding: 10px 10px 10px 10px;
   
}

.gallari2{
    position: relative;
    padding: 10px 10px 10px 10px;
    padding-left: 20%;
   
    
   
}

.team-gallary{
    /* position: relative; */

    max-width: 1065px;
   /* height: 604px; */
   /* border: 2px solid red; */
   background: rgba(255, 255, 255, 0.193);

   display: grid;
   grid-template-columns: repeat(3,1fr);
   border-radius: 18px;
   align-items: center;
   
 
  
  
}
.team-gallary1{

      /* position: relative; */

      max-width: 1065px;
      /* height: 604px; */
      /* border: 2px solid red; */
      background: rgba(255, 255, 255, 0.193);
   
      display: grid;
      grid-template-columns: repeat(3,1fr);
      border-radius: 18px;
      align-items: center;
     
}
.pic{
 width: 326px;
height: 272px;
border-radius: 18px;


}

.team-text2{
    /* background-color: rgba(255, 255, 255, 0.1); */
    text-align: center;
max-width: 671px;
height: 120px;
/* border: 2px solid red; */
margin: 0 auto;
border-radius: 18px;
}

.picture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.223);
   /* padding-left: 20%; */
    
}

.trainer{
    margin-top: -15%;
}

.foter{
    margin-top: -10%;
    background-color:rgba(0, 0, 0, 0.897);
    max-width: 100%;
    /* border: 2px solid red; */
    height: 489px;
    
    
}

.footer-container{
    max-width: 1059px;
    margin: 0 auto;
height: 249px;
/* border: 2px solid red; */
margin-top: 140px;}


ul{
    color: rgba(255, 255, 255, 0.551);
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.fitnes{
    width: 440px;
}

.ftlast{
    border-top: 1px solid #dfd8d8c9;
    max-width: 1060px;
    margin: 0 auto;
    color: #e1d4d45b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; 
  
}

.tt{
    /* display:none; */
}